src/essences/models/schema_Questions.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Question" type="question"/>
  <xs:element name="Questions">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="questions" type="question" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="question">
    <xs:sequence>
      <xs:element name="quest" type="xs:string" minOccurs="0"/>
      <xs:element name="answer" type="xs:string" minOccurs="0"/>
      <xs:element name="score" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

